<div class="row">
    <!-- Desde aca se pueden modificar todos los circulos de Hard and Soft Skills -->

    <h1>Hard and Soft Skills</h1>
    <!-- "CIRCULO HTML" -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/html5.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <!-- "CIRCULO JAVASCRIPT" -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/JavaScript.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <!-- "CIRCULO CSS" -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/Css.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <!-- "CIRCULO JAVA" -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/JavaLogo.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <!-- "CIRCULO TEAMWORK" -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/html5.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <!-- "CIRCULO COMUNICACION" -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/html5.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>

</div>