<div class="row">
    <!-- Desde aca se pueden modificar todos los circulos de Hard and Soft Skills -->

    <h1>Hard and Soft Skills</h1>
    <!-- "CIRCULO HTML" -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/html5.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#f11c1ce8'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <!-- "CIRCULO JAVASCRIPT" -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/JavaScript.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#f11c1ce8'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <!-- "CIRCULO CSS" -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [imageSrc]="'../assets/Css.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#f11c1ce8'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <!-- "CIRCULO JAVA" -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/JavaLogo.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#f11c1ce8'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <!-- "CIRCULO TEAMWORK" -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [imageSrc]="'../assets/trabajo-en-equipo.webp'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#f11c1ce8'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <!-- "CIRCULO NIVEL INGLES" -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/ingles.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#f11c1ce8'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>

</div>