.row{
    padding: 30px;
    
}

div{
    background-color: white;
    text-align: center;
}



/* Modificador de estilo de la foto de perfil*/

    @media (min-width: 576px) {

        #fotodeperfil{
            position:absolute;
            width: 15%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px grey;
            left: 3%;
            top: 550px;
        }
    }
    @media (max-width: 575px) {

        #fotodeperfil{
            position:absolute;
            width: 60%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px grey;
            left: 20%;
            top: 900px;
        }
    }

#nombre{
    font-weight: bold;
    margin-top: 40%;
}