
<!-- "Este es el HTML, donde empieza mi descripcion" -->

<div class="row">
    <div class="conteiner">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/FotoPerfil.jpg" class="img-fluid" id="fotodeperfil">
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p class="agrupados">Full Stack Developer Jr</p>
        </div >

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        
            <span>
                <h2>Sobre mi</h2>
                <p> Alumno de la segunda etapa de Argentina programa #YoProgramo 2da edicion, estudiante de la licenciatura en sistemas</p>
            </span>

        </div>

    </div>
        

</div>

