<div class="conteiner">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for= "establecimiento">Nombre de la institucion</label>
                    <input type="text" class="form-control" id="establecimiento" name="establecimiento" [(ngModel)]="establecimiento" required>
                </div>
                <div class="form-group">
                    <label for= "logro">Descripcion del titulo</label>
                    <input type="text" class="form-control" id="logro" name="logro" [(ngModel)]="logro" required>
                </div>

                <div class="form-group">
                    <label for= "fecha">Egreso</label>
                    <input type="text" class="form-control" id="fecha" name="fecha" [(ngModel)]="fecha" required>
                </div>

                <button class="btn btn-primary">
                    Agregar Estudio
                </button>

            </form>
        </div>
    </div>
</div>