.row{
    background: #f11c1ce8;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999 ;
}