<!-- Aca se encuentran los elementos correspondientes a mis proyectos realizados -->


<div class="row">
    <h1> Proyectos realizados</h1>
    <div class="contenedor"></div>
    <div class="col-lg-11">
        <button type="button" class="btn btn-dark" routerLink="newProyectos" *ngIf="isAdmin">
            Nuevo Proyecto
        </button>
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of pro">
                    <td>{{Proyecto.nombre}}</td>
                    <td>{{Proyecto.desempenio}}</td>
                    <td><a href={{Proyecto.url}}><img width="80px" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" /></a> </td>
                    <td></td>
                    <td *ngIf="isAdmin"> <button type="button" class="btn btn-light"
                            routerLink="editproyecto/{{Proyecto.id}}"> <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    <td>

                    <td *ngIf="isAdmin"><button type="button" class="btn btn-danger" (click)="delete(Proyecto.id)"> <i
                                class="bi bi-eraser-fill"></i> BORRAR </button></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
