
<!-- Desde aca modifico mis elementos relacionados con la experiencia -->

<div class="row">
    <h1>Experiencia Laboral</h1>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr>
                    <td>NOMBRE DE LA EXPERIENCIA</td>
                    <td>DECRIPCION</td>
                    <td>EDITAR<td>
                    <td>BORRAR</td>
                </tr>
    
            </tbody>
        </table>
    </div>

    
    
</div>
